html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #E3E3E3;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.jigsaw-container {
  flex: 1;
  border: 1px solid greenyellow;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background: #8B71CE;
}

.jigsaw-container {
  display: flex;
  flex-direction: row;
  
  > div {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background: #FFF;
    border-radius: 10px; 
    box-shadow: 1px 1px solid #ACACAC;
  }
}

.jigsaw-object-list,
.jigsaw-action-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  

  > li {
    background: #F23C5B;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    position: relative;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 24px;
    text-shadow: 1px 1px #060606;
  
    
    &::before, &::after {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      border-radius: 100%;
    }

    &::before {
      background: #FFF;
      left: -15px;
      top: 50%;
      margin-top: -13px;
    }

    &::after {
      background: #F23C5B;
      right: -15px;
      top: 50%;
      margin-top: -13px;
    }

  }
}

.jigsaw-action-list {
  > li {
    background: #49D9D9;
    color: #000;
    text-shadow: 1px 1px #bbeace;
    
    &::after {
      background: #49D9D9;
    }
  }
}



.jigsaw-playground {
  flex: 2;
  border: 1px solid greenyellow;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background: #C5AAE7;
  display: flex;
  flex-direction: row;
}

.jigsaw-board {
  flex: 2;
  background: #FFF;
  margin: 10px;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 1px 1px solid #ACACAC;
}

.jigsaw-board {
  display: flex;
  flex-direction: row;

  .jigsaw-placeholder {
    width: 150px;
    height: 150px;
    background: #8EA1AC;
    margin-right: 30px;
    position: relative;
    border-radius: 4px;
    
    &::before,
    &::after {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      border-radius: 100%;
    }

    &::before {
      background: #FFF;
      left: -15px;
      top: 50%;
      margin-top: -13px;
    }

    &::after {
      background: #8EA1AC;
      right: -15px;
      top: 50%;
      margin-top: -13px;
    }
  }
}

.jigsaw-action-widget {
  flex: 1;
  background: #FFF;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px solid #ACACAC;
}