.jigsaw-item {
  background: #F23C5B;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  position: relative;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 24px;
  text-shadow: 1px 1px #060606;

  
  &::before, &::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 100%;
  }

  &::before {
    background: #FFF;
    left: -15px;
    top: 50%;
    margin-top: -13px;
  }

  &::after {
    background: #F23C5B;
    right: -15px;
    top: 50%;
    margin-top: -13px;
  }
}

.jigsaw-item-b {
  background: #49D9D9;
  color: #000;
  text-shadow: 1px 1px #bbeace;
  
  &::after {
    background: #49D9D9;
  }
}