<div local-class="jigsaw-item jigsaw-item-{{@type}}">
  {{#if (eq @type 'a')}}
    {{svg-jar @icon}}
    <span>
      {{@icon}}
    </span>
  {{/if}}

  {{#if (eq @type 'b')}}
    <span>
      {{@icon}}
    </span>
  {{/if}}
</div>